.label{
    -fx-background-color: transparent;
    -fx-border-color: #36454f;
    -fx-border-width: 3.0;
    -fx-text-fill: #36454f;
}

.title-label{
    -fx-background-color: transparent;
    -fx-text-fill: #36454f;
}

.text-field{
    -fx-border-color: #36454f;
    -fx-border-width: 2.0;
}

.slider .thumb{
    -fx-background-color: #36454f;
}

.slider .track{
    fx-background-color: #fcfcfc;
}